//- base.pug
html
  head
    title Marvel Villainous
    //link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block scripts
      //- script(src='/jquery.js')
    
  body
    block content

  footer
    block footer