div(class="card text-center") 
  img(class="card-img-top" src="https://media.istockphoto.com/photos/new-york-city-nyc-usa-picture-id615398376?s=612x612" alt="card image") 
  div(class="card-body") 
    span(id="cost" class="card-img-overlay circle") 0
    h5(id="name" class="card-title") CAPTAIN AMERICA
    hr
    p(id="text" class="card-text") When Captain America is played, place a +1 Strength token on Captain America and each other Hero in the targeted player's Domain. 
    a(href="#" class="btn btn-sm btn-outline-secondary")LOAD
    span(id="strength" class="circle") 3
  div(id="type", class="card-footer") HERO