//- lobby.pug
extends base.pug

block scripts
  link(rel="stylesheet", href="")
  script(type="module", src="https://unpkg.com/react@18/umd/react.development.js" crossorigin)
  script(type="module", src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin)
  script(src="https://unpkg.com/babel-standalone@6/babel.min.js")

block content
  H1.text-uppercase #{title}
  .container
    .col
      each d in domain
        div.domain
          each i in [0,1,2,3]
            div.col
              div.stack#heroes
              div.location
                div.actions#block
                  each ab of d[i].block
                    div.ability= ab.slice(0,1)
                div.actions#always
                  each ab of d[i].always
                    div.ability= ab.slice(0,1)
              h2= d[i].name
              div.stack#allies
          div.col
            div.stack#specialty
  #like_button_container
  script(type="text/babel", src="lobby.js")