//- lobby.pug
extends base.pug

block header
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css")
  //-link(rel="stylesheet", href="")

block scripts
  script(type="module", src="https://unpkg.com/react@18/umd/react.development.js" crossorigin)
  script(type="module", src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin)
  script(src="https://unpkg.com/babel-standalone@6/babel.min.js")

block content
  H1.text-uppercase #{title}
  .container
    .col
      span(style="font-weight:bold;") PLAYERS: 
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="5p" checked="checked")
        label.form-check-label(for="") 5
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="4p" checked="checked")
        label.form-check-label(for="") 4
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="3p" checked="checked")
        label.form-check-label(for="") 3
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="2p" checked="checked")
        label.form-check-label(for="") 2
    .col
      span(style="font-weight:bold;") EVENTS: 
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") Omnipotent (Easy)
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") Inevitable (Moderate)
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") Undying (Difficult)
    .col
      span(style="font-weight:bold;") ENFORCEMENT: 
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") None
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") Snooze
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") Voting
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") Strict
    .col
      span(style="font-weight:bold;") VILLAINS: 
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") Duplicates
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") Random
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") Join
      .form-check.form-check-inline
        input.form-check-input(type="checkbox" value="" checked="checked")
        label.form-check-label(for="") Free-for-All
    .col-4#lobby_container
  script(type="text/babel", src="lobby.js")