.container.col-3
    .card.text-center
        .card-header
            #{}
        .card-body
        .d-grid.gap-2.col-10.mx-auto
        .btn-group.dropend(role="group")
            button.btn.btn-outline-secondary.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false") Settings
            ul.dropdown-menu dropdown-menu-secondary"
                li
                    a.dropdown-item" href="#"Omnipotent (Easy)
                li
                    a.dropdown-item" href="#"Allow Duplicates
                li
                    a.dropdown-item" href="#"Automatic
                li
                    a.dropdown-item" href="#"None
            button.btn.btn-outline-dark" type="button"Thanos
            button.btn.btn-outline-dark" type="button"Ultron
            .btn-group.dropend(role="group")
                button.btn btn-primary.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false") Select
                ul.dropdown-menu dropdown-menu-dark"
                    li
                        a.dropdown-item" href="#"Killmonger
                    li
                        a.dropdown-item" href="#"Hela
                    li
                        a.dropdown-item" href="#"Taskmaster
        .progress" style="height: 20px;"
        .progress-bar" role="progressbar" style="width: 50%;"2/4