//- login.pug
extends base.pug

block scripts
  link(rel="stylesheet", href="")

block content
  form.text-center
    main.form-signin.w-100.m-auto
      img.mb-4(src="/logo.svg" alt='logo' width='72' height='57')
      h1.h3.mb-3.fw-normal Please sign in
      .form-floating
        input.form-control#floatingInput(type="text", placeholder="BoatyMcBoatface")
        label(for="floatingInput") Username
      .form-floating
        input#floatingPassword.form-control(type='password' placeholder='Password')
        label(for='floatingPassword') Password
      .checkbox.mb-3
        label
          input(type='checkbox' value='remember-me')
          | Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
      p.mt-5.mb-3.text-muted &copy; 2022